body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 15px 20px;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 15px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:visited{
    color: purple;
}
nav ul li a:hover{
    text-decoration: underline;
    color: red;
}
nav ul li a:active{
    font-weight: bold;
    border-bottom: 3px solid red;
}
footer{
    clear: both;
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 400px;
}
.container{
    max-width: 1200px;
    display: flex;
    margin: 20px auto;
    gap: 20px;
}
.sidebar{
    width: 25%;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}
.home-content{
    width: 50%;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}
.feedback-container{
    max-width: 500px;
    height: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
    margin: 0 auto;
    text-align: center;
}
label{
    font-weight: bold;
    display: block;
    text-align: left;
}
textarea, input, select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: black;
}